{% extends 'base.html' %}

{% block content %}

<form  method="post" action="." enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<div class="form-group col-md12">
		<div class="col-md2">
			<input type="submit" class="btn btn-success" value="Save" />
		</div>
		<div class="col-md2">
			<a  class="btn btn-warning" href="{% url 'product-list' %}">Back</a>	
		</div>
	</div>	

</form>
{% endblock %}

<!-- 
	{% if object.id %}
		<input type="hidden" name="id" value="{{object.id}}">
	{% endif %}


<form action="." method="GET">
	<input type="text" name="search">
	<input type="submit" value="Search" />
</form> -->