{% extends 'base.html' %}

{% block content %}
	<h1>Product Details</h1>
	<h3>{{ object.title }}</h3>
	<p><strong>Description: </strong>
		{% if object.description%}
			{{ object.description }}
		{% else %}
			{{ "Sorry No description Available"}}
		{% endif %}
	</p><br>
	<p>
		<strong>Item Price: </strong>{{object.price}}
	</p>
	<p>
		<strong>Item Image: </strong>
		{% if object.product_image%}
			<img src="{{ object.product_image.url }}" alt="">
		{% else %}
			<p>No Image</p>
		{% endif %}
	</p>
	<a href="{% url 'product-list'  %}" class="btn btn-warning">Back</a>
{% endblock %}