{% extends 'base.html' %}

{% block content %}

<form  method="post" action="." enctype="multipart/form-data">
	{% csrf_token %}
	{% if object.id %}
		<input type="hidden" name="id" value="{{object.id}}">
	{% endif %}
	{{ form.as_p }}
	<input type="submit"  class="btn btn-success" value="Save" />
	<a  class="btn btn-warning" href="{% url 'product-list' %}">Back</a>	

</form>
{% endblock %}

<!-- 


<form action="." method="GET">
	<input type="text" name="search">
	<input type="submit" value="Search" />
</form> -->