<!doctype html>
<html>
	<head>
		<title>{{ title }}</title>
		{% load staticfiles %}
		<!-- styles -->
		<link rel="stylesheet" href="{% static 'css/bootstarp/bootstrap.css' %}">
		<!-- <link rel="stylesheet" href="{% static 'js/DataTables/datatables.min.css' %}"> -->

		<!-- scripts -->
		<script src="{% static 'js/jquery/jquery.js' %}"></script>
		<script src="{% static 'js/bootstarp/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/DataTables/datatables.min.js' %}"></script>
	</head>
	<body>
		{% include 'messages.html' %}
		{% include 'navbar.html' %}
		<div class="container">
			{% block content %}
			{% endblock%}
		</div>
	</body>
</html>